<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block title %}IMISCloud Home{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="shortcut icon" href="{% static 'img/ez.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/signin.css' %}"/>
    </head>
    <body class="bg-beige">
        <!-- navigation bar-->
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#leftbar-below" aria-controls="leftbar-below" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/index">IMIS Cloud</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                <img class="w-50" src="{% static 'img/search.png' %}">
            </button>
            <div class="navbar-collapse collapse text-right" id="navbarsExample01">
                <a class="btn navbar-toggler text-muted f-small" type="button" href="/clearsession">Log out</a>
                <form class="form-inline my-2" method="post" action="/result/">
                  {% csrf_token %}
                  <input name="filename" class="form-control" type="text" placeholder="Search" aria-label="Search" onChange="this.form.submit();">
                </form>
            </div>
        </nav>

        <div class="self-container clear-lr">
                <!-- left bar-->
                <div class="col-12 bgc-b" id="leftbar-below">
                    <div class="row clear-lr">
                        <a  class="btn" href="/result/?resulttype=pic"><img src="{% static 'img/pic.png' %}" title="Picture"><p class="m-0">Image</p></a>
                        <a class="btn" href="/result/?resulttype=music"><img src="{% static 'img/music.png' %}" title="Music"><p class="m-0">Music</p></a>
                        <a class="btn" href="/result/?resulttype=video"><img src="{% static 'img/video.png' %}" title="Video"><p class="m-0">Video</p></a>
                        <a class="btn" href="/result/?resulttype=file"><img src="{% static 'img/file.png' %}" title="File"><p class="m-0">File</p></a>
                    </div>
                    <div class="row clear-lr border-top">
                        <a class="btn" href="/upload"><img src="{% static 'img/upload.png' %}" title="Upload"><p class="m-0">Upload</p></a>
                        <a class="btn" href="/result/?resulttype=shared"><img src="{% static 'img/share.png' %}" title="Shared"><p class="m-0">Shared</p></a>
                        <a class="btn" href="/recycle"><img src="{% static 'img/backbin.png' %}" title="Recycle"><p class="m-0">Find Back</p></a>
                    </div>

                </div>
                <!-- main content -->
                <div class="col-12 clear-lr flowx-auto" id="mainpart">
                {% block content %}{% endblock %}
                </div>
        </div>

        <!-- message -->
        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/common.js' %}"></script>
    </body>
</html>